  
   {% load static %}
   <section class="grid lg:grid-cols-2 gap-4">
    {% for obj in promotions %}
    <div class="relative w-full rounded-lg overflow-hidden">
      {% if obj.image %}
      <img
        src="{{ obj.image.url }}"
        alt="{{ obj.name }}"
        class="w-full object-contain rounded-lg border"
      />
      {% else %}
      <img
        src="{% static 'imgs/hero_2.webp' %}"
        alt="image"
        class="w-full object-contain rounded-lg border"
      />
      {% endif %}
      <article
        class="p-6 lg:p-10 absolute top-0 right-0 w-full h-full flex flex-col justify-center gap-1 z-5"
      >
        <span>{{ obj.catch_phrase}}</span>
        <h2 class="text-black font-bold text-2xl">{{ obj.title }}</h2>
        <small>
          A partir de
          <span class="text-red-500 font-bold text-xl ml-2"
            >{{ obj.price }} Cfa</span
          >
        </small>
        <a
          href="{% url 'promo_details' obj.id %}"
          class="w-fit bg-yellow-200 hover:bg-yellow-300 rounded-full py-2 px-4 text-black flex items-center gap-4"
        >
          Voir les produits de cette promo <span> &rarr; </span>
        </a>
      </article>
    </div>
    {% endfor %}
  </section>