{% load static %}
<div
  class="bg-gray-100 h-20 w-full border rounded-xl flex justify-between items-center overflow-hidden"
>
  {% if obj.image %}
  <img
    src="{{ obj.image.url }}"
    alt="{{ obj.name }}"
    class="w-40 object-contain rounded-lg"
  />
  {% else %}
  <img
    src="{% static 'imgs/promo.png' %}"
    alt="image"
    class="w-40 object-contain rounded-lg"
  />
  {% endif %}

  <h2 class="text-black font-bold text-lg">{{ obj.title }}</h2>
  <span>{{ obj.catch_phrase}}</span>
  <small>
    à partir de
    <span class="text-yellow-500 font-bold ml-2">{{ obj.price }} CFA</span>
  </small>
  <a
    hx-get="{% url 'dash_promo' obj.id %}"
    hx-target="#dashbase"
    hx-swap="outerHTML"
    class="cursor-pointer bg-teal-700 hover:bg-teal-900 rounded-full mr-4 py-2 px-3 text-white flex items-center gap-4"
  >
    <span> &rarr; </span>
  </a>
</div>
