{% load static %}
<!--  -->
<a
  hx-get="{% url 'staff_details' obj.id %}"
  hx-target="#dashbase"
  hx-swap="outerHTML"
  class="cursor-pointer bg-teal-200 h-full flex items-center gap- border bg-white hover:shadow-md rounded-xl overflow-hidden"
>
  {% if not obj.profile.image %}
  <img
    class="bg-white h-20 w-20 object-cover"
    src="{% static 'imgs/anon.png' %}"
    alt="image"
  />
  {% else %}
  <img
    class="bg-white h-20 w-20 object-cover"
    src="{{obj.profile.image.url}}"
    alt="image"
  />
  {% endif %}

  <article class="p-4 w-full flex flex-col gap-1 text-left">
    <h4 class="text-black font-bold">{{obj.last_name}} {{obj.first_name}}</h4>
    <p class="rounded-md flex gap-2 items-center text-black text-xs">
      {{obj.role.name}}
    </p>
    <p class="text-sm">{{obj.profile.bio|truncatechars:50}}</p>
  </article>
</a>
