{% load app_tags %}
<!--  -->
{% if curr_obj.status == 'pending' %}
<div
  class="p-4 flex flex-col justify-center gap-2 border border-red-400 bg-red-100 rounded-xl"
>
  <p>Articles : {{ order_items|length }}</p>
  <p>Montant : {{ curr_obj.amount_due }} CFA</p>
  <p>Frais : {{ curr_obj.type.price }} CFA</p>
  <p>Total à payer : 
    <!--  -->
    {{ curr_obj.amount_due|add:curr_obj.type.price }} 
    <!--  -->
    CFA</p>
  <p>
    Status :
    <span class="py-2 px-4 bg-red-300 rounded-full text-black">
      <i class="text-xs fa-solid fa-spinner mr-2"></i>
      {{ curr_obj.get_status_display }}</span
    >
  </p>
</div>
{% elif curr_obj.status == 'dispatched' %}
<div
  class="p-4 flex flex-col justify-center gap-2 border border-yellow-400 bg-yellow-100 rounded-xl"
>
  <p>Articles : {{ order_items|length }}</p>
  <p>Montant : {{ curr_obj.amount_due }} CFA</p>
  <p>Frais : {{ curr_obj.type.price }} CFA</p>
  <p>Total à payer : 
    <!--  -->
    {{ curr_obj.amount_due|add:curr_obj.type.price }} 
    <!--  -->
    CFA</p>
  <p>
  <p>
    Status :
    <span class="py-2 px-4 bg-yellow-300 rounded-full text-black">
      <i class="text-xs fa-solid fa-truck-fast mr-2"></i>
      {{ curr_obj.get_status_display }}</span
    >
  </p>
</div>
{% elif curr_obj.status == 'completed' %}
<div
  class="p-4 flex flex-col justify-center gap-2 border border-green-400 bg-green-100 rounded-xl"
>
  <p>Articles : {{ order_items|length }}</p>
  <p>Montant : {{ curr_obj.amount_due }} CFA</p>
  <p>Frais : {{ curr_obj.type.price }} CFA</p>
  <p>Total payé : 
    <!--  -->
    {{ curr_obj.amount_due|add:curr_obj.type.price }} 
    <!--  -->
    CFA</p>
  <p>
  <p>
    Status :
    <span class="py-2 px-4 bg-green-300 rounded-full text-black">
      <i class="text-xs fa-solid fa-check mr-2"></i>
      {{ curr_obj.get_status_display }}</span
    >
  </p>
</div>
{% else %}
<div
  class="p-4 flex flex-col justify-center gap-2 border border-gray-400 bg-gray-100 rounded-xl"
>
  <p>Articles : {{ order_items|length }}</p>
  <p>Montant : {{ curr_obj.amount_due }} CFA</p>
  <p>Frais : {{ curr_obj.type.price }} CFA</p>
  <p>Total à payer : 
    <!--  -->
    {{ curr_obj.amount_due|add:curr_obj.type.price }} 
    <!--  -->
    CFA</p>
  <p>
  <p>
    Status :
    <span class="py-2 px-4 bg-gray-300 rounded-full text-black">
      <i class="text-xs fa-solid fa-ban mr-2"></i>
      {{ curr_obj.get_status_display }}</span
    >
  </p>
</div>
{% endif %}
