{% if not curr_obj %} {% if obj.status == 'pending' %}
<p class="bg-red-200 text-black text-xs text-center px-3 py-1 rounded-full">
  {{obj.get_status_display}}
</p>
{% elif obj.status == 'dispatched' %}
<p
  class="bg-yellow-200 text-black text-xs text-center px-3 py-1 rounded-full"
>
  {{obj.get_status_display}}
</p>
{% elif obj.status == 'finished' %}
<p
  class="bg-green-200 text-black text-xs text-center px-3 py-1 rounded-full"
>
  {{obj.get_status_display}}
</p>
{% else %}
<p class="bg-gray-200 text-black text-xs text-center px-3 py-1 rounded-full">
  {{obj.get_status_display}}
</p>
{% endif %}
<!--  -->
{% else %}
<!--  -->
{% if curr_obj.status == 'pending' %}
<p class="bg-red-200 text-black text-xs text-center px-3 py-1 rounded-full">
  {{curr_obj.get_status_display}}
</p>
{% elif curr_obj.status == 'dispatched' %}
<p
  class="bg-yellow-200 text-black text-xs text-center px-3 py-1 rounded-full"
>
  {{curr_obj.get_status_display}}
</p>
{% elif curr_obj.status == 'finished' %}
<p
  class="bg-green-200 text-black text-xs text-center px-3 py-1 rounded-full"
>
  {{curr_obj.get_status_display}}
</p>
{% else %}
<p class="bg-gray-200 text-black text-xs text-center px-3 py-1 rounded-full">
  {{curr_obj.get_status_display}}
</p>
{% endif %} {% endif %}
