{% extends 'main.html' %} {% load static %} {% block content %}
<div class="p-8 w-full max-w-7xl mx-auto flex flex-col gap-6">
  <div class="flex justify-between">
    <div
      class="bg-teal-900 py-2 px-4 rounded-full flex items-center text-white gap-4"
    >
      <a
        id="back-button"
        class="inline-block px-2 py-1 font-bold hover:bg-yellow-400 hover:text-black rounded-full transition-all duration-300"
        href="#"
        >&larr;</a
      >
      Retourner
    </div>
    <span
      class="flex items-center gap-4 py-2 px-4 rounded-full bg-yellow-200 text-black"
      ><i class="fa-solid fa-truck"></i> Mes livraisons</span
    >
  </div>

  <!--  -->
  <form
    id="filter"
    class="p-2 w-full bg-yellow-100 rounded-full flex justify-between items-center gap-1 text-sm xl:text-sm"
  >
    {% csrf_token %}
    <section class="w-full flex justify-between items-center gap-1 text-xs">
      <!-- date margins -->
      {% include 'dashboard/components/date_margins.html' %}
      <!-- amount field -->
      <input
        placeholder="Montant"
        name="amount"
        type="text"
        class="px-3 py-2 rounded-full focus:bg-gray-100 outilne-none w-full cursor-pointer"
      />
      <!-- items counts -->
      <select
        name="items"
        class="hidden md:inline px-3 py-2 rounded-full focus:bg-gray-100 outilne-none w-full"
      >
        <option value="" selected disabled>Nombre d'articles</option>
        <option value="10">1 - 10</option>
        <option value="30">11 - 30</option>
        <option value="50">31 - 50</option>
        <option value="100">51 - 100</option>
        <option value="101">plus de 100</option>
      </select>
      <!-- statuses -->
      <select
        name="status"
        class="hidden sm:flex px-3 py-2 rounded-full focus:bg-gray-100 outilne-none w-full cursor-pointer"
      >
        <option value="" selected="true" disabled="disabled">Status</option>
        <option value="pending">En attente</option>
        <option value="dispatched">Expédiée</option>
        <option value="delivered">Terminée</option>
        <option value="cancelled">Annulée</option>
      </select>
    </section>
    <button
      class="px-3 py-2 bg-teal-700 hover:bg-teal-900 text-white hover:text-yellow-400 rounded-full transition duration-200 ease-in"
      type="submit"
    >
      <i class="fa-solid fa-filter"></i>
    </button>
    <button
      class="px-3 py-2 bg-yellow-50 hover:bg-yellow-400 hover:text-black rounded-full transition duration-200 ease-in"
      hx-on:click="clearForm('filter')"
      type="submit"
    >
      <i class="fa-solid fa-rotate-right"></i>
    </button>
  </form>
  <!--  -->

  {% if not objects %}
  <div class="flex flex-col items-center gap-4 my-20 mx-auto">
    <i class="fa-solid fa-truck text-teal-900 text-9xl"></i>
    <span>Aucune livraison trouvée</span>
  </div>
  {% else %}
  <div class="flex flex-col gap-2">
    {% for obj in objects %}
    <!--  -->
    {% include 'store/components/delivery_card.html' %}
    <!--  -->
    {% endfor %}
  </div>
  <!-- pagination controls -->
  {% include 'paginator.html' %}
  <!--  -->
  {% endif %}
</div>

<script>
  function clearForm(div_id) {
    var form = document.getElementById(div_id);
    form.reset();
  }
  document
    .getElementById("back-button")
    .addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the default anchor behavior
      window.history.go(-1); // Go back two pages
    });
</script>

{% endblock %}
