{% extends 'main.html' %} {% load static %} {% block content %}
<section
  class="p-4 lg:p-8 h-full min-h-[900px] w-full max-w-5xl mx-auto flex flex-col justify-center gap-4 border border-b-0 rounded-t-xl shadow-lg"
>
  <h3 class="font-bold text-3xl text-teal-700 mb-2">Politiques de Livraison</h3>
  <p>
    Chez Distroplace, nous nous efforçons de vous offrir une expérience d'achat
    exceptionnelle, y compris une livraison rapide et fiable de vos produits.
    Voici notre politique de livraison pour vous aider à mieux comprendre nos
    processus.
  </p>
  <div class="text-sm">
    <article>
      <h2 class="mt-4 font-bold text-lg">Options de Livraison</h2>
      <p>
        Nous offrons plusieurs options de livraison pour répondre à vos besoins
        :
      </p>
      <ul class="ml-4">
        <li><b> - Standard : </b>Livraison en 3 à 7 jours ouvrables.</li>
        <li><b> - Express : </b>Livraison en 1 à 3 jours ouvrables.</li>
        <li>
          <b> - Livraison le jour même (VIP) : </b>Disponible uniquement dans
          certaines zones urbaines pour les commandes passées avant midi.
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Frais de Livraison</h2>
      <p>
        Les frais de livraison varient en fonction de l'option choisie et de la
        destination :
      </p>
      <ul class="ml-4">
        <li>
          <b> - Livraison Standard : </b>Gratuite pour les commandes de plus de
          20 000 FCFCA. Pour les commandes inférieures à 20 000 FCFA, des frais
          de 1 000 FCFA s'appliquent.
        </li>
        <li><b> - Livraison Express : </b>2000 FCFA.</li>
        <li><b> - Livraison VIP : </b>5000 FCFA.</li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Délais de Livraison</h2>
      <p>
        Les délais de livraison dépendent de l'option choisie et de la
        destination. Veuillez noter que les délais sont calculés en jours
        ouvrables et ne tiennent pas compte des week-ends et jours fériés.
      </p>
      <ul class="ml-4">
        <li><b> - Livraison Standard : </b>1 à 2 jours</li>
        <li><b> - Livraison Express : </b> le jour même.</li>
        <li>
          <b> - Livraison VIP : </b> Commandes livrées le jour même pour les
          commandes passées avant midi
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Traitement des Commandes</h2>
      <ul class="ml-4">
        <li>
          <b> - Délai de Traitement : </b>Toutes les commandes sont traitées
          dans un délai de 1 jour après la réception de votre commande. Vous
          recevrez une notification par courriel une fois votre commande
          expédiée.
        </li>
        <li>
          <b> - Jours de Traitement : </b> Les commandes sont traitées et
          expédiées du lundi au vendredi, sauf les jours fériés.
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Suivi de Commandes</h2>
      <p>
        Une fois votre commande expédiée, vous recevrez un email contenant les
        informations de suivi. Vous pouvez suivre votre commande via le lien
        fourni dans cet email.
      </p>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Zones de Livraison</h2>
      <p>
        Nous livrons actuellement en France métropolitaine. Pour les livraisons
        en Corse et dans les territoires d'outre-mer, des conditions
        particulières peuvent s'appliquer. Veuillez nous contacter pour plus
        d'informations.
      </p>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Problèmes de Livraison</h2>
      <ul class="ml-4">
        <li>
          <b>Adresse Incorrecte : </b>Assurez-vous de vérifier l'exactitude de
          votre adresse de livraison. Distroplace ne peut être tenu responsable
          des retards ou des échecs de livraison dus à une adresse incorrecte ou
          incomplète.
        </li>
        <li>
          <b>Colis Perdu ou Volé : </b>Si vous pensez que votre colis a été
          perdu ou volé, veuillez nous contacter immédiatement. Nous ouvrirons
          une enquête avec notre service de livraison.
        </li>
        <li>
          <b>Colis Endommagé : </b>Si votre colis arrive endommagé, veuillez
          nous contacter avec des photos du colis et des produits endommagés
          dans les 48 heures suivant la réception.
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Contactez-nous</h2>
      <p>
        Si vous avez des questions concernant cette politique de confidentialité
        ou si vous souhaitez exercer vos droits, veuillez nous contacter :
      </p>
      <ul class="ml-4">
        <li><b>Email : </b>support@distroplace.com</li>
        <li><b>Téléphone : </b>+228 90 92 11 14</li>
        <li>
          <b>Adresse : </b>Distroplace, 123 Rue du Commerce, 75001 lomé, Togo
        </li>
      </ul>
    </article>
  </div>
</section>
{% endblock %}
