{% extends 'main.html' %} {% load static %} {% block content %}
<section
  class="p-4 lg:p-8 h-full min-h-[900px] w-full max-w-5xl mx-auto flex flex-col justify-center gap-4 border border-b-0 rounded-t-xl shadow-lg"
>
  <h3 class="font-bold text-3xl text-teal-700 mb-2">
    Politiques de confidentialité
  </h3>
  <p>
    Chez Distroplace, nous nous engageons à protéger votre vie privée. Cette
    politique de confidentialité explique comment nous collectons, utilisons, et
    protégeons vos informations personnelles lorsque vous visitez notre site web
    et utilisez nos services.
  </p>
  <div class="text-sm">
    <article>
      <h2 class="mt-4 font-bold text-lg">
        Collecte des informations personnelles
      </h2>
      <p>
        Nous collectons plusieurs types d'informations pour vous fournir et
        améliorer notre service.
      </p>
      <ul class="ml-4">
        <li>
          <b> - Informations Personnelles : </b>Lorsque vous passez une commande
          ou créez un compte, nous pouvons collecter des informations telles que
          votre nom, adresse, email, numéro de téléphone, et informations de
          paiement.
        </li>
        <li>
          <b> - Informations de Navigation : </b>Nous collectons des
          informations sur votre utilisation de notre site web, y compris votre
          adresse IP, le type de navigateur, les pages que vous visitez, et la
          durée de votre visite.
        </li>
      </ul>
      <!--  -->
      <h2 class="mt-4 font-bold text-lg">Méthodes de Collecte</h2>
      <ul class="ml-4">
        <li>
          <b> - Directement auprès de Vous : </b>Lorsque vous remplissez des
          formulaires, passez des commandes, ou communiquez avec notre service
          client.
        </li>
        <li>
          <b> - Automatiquement : </b>Par le biais de cookies et d'autres
          technologies de suivi lorsque vous utilisez notre site.
        </li>
      </ul>
      <!--  -->
      <h2 class="mt-4 font-bold text-lg">Utilisation des Informations</h2>
      <p>Nous utilisons les informations collectées pour diverses finalités</p>
      <ul class="ml-4">
        <li>
          <b> - Traitement des Commandes : </b>Pour traiter et expédier vos
          commandes, et pour vous fournir des informations sur l'état de votre
          commande.
        </li>
        <li>
          <b> - Service Client : </b>Pour répondre à vos questions et fournir un
          support client.
        </li>
        <li>
          <b> - Amélioration de Nos Services : </b>Pour analyser l'utilisation
          de notre site et améliorer nos produits et services.
        </li>
        <li>
          <b> - Marketing : </b>Pour vous envoyer des offres spéciales, des
          newsletters, et des informations sur nos produits et services, si vous
          avez choisi de recevoir ces communications.
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Partage des informations</h2>
      <p>
        Nous ne vendons, n'échangeons, ni ne louons vos informations
        personnelles à des tiers. Cependant, nous pouvons partager vos
        informations avec des tiers de confiance pour les raisons suivantes
      </p>
      <ul class="ml-4">
        <li>
          <b> - Prestataires de Services : </b>Nous pouvons partager vos
          informations avec des prestataires de services qui nous aident à gérer
          notre site web, traiter les paiements, expédier les commandes, et
          fournir un support client.
        </li>
        <li>
          <b> - Exigences Légales : </b>Nous pouvons divulguer vos informations
          si la loi l'exige ou si nous croyons que cette divulgation est
          nécessaire pour protéger nos droits ou pour nous conformer à une
          procédure judiciaire.
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Sécurité des Informations</h2>
      <p>
        Nous mettons en œuvre diverses mesures de sécurité pour protéger vos
        informations personnelles contre tout accès non autorisé, utilisation,
        ou divulgation. Ces mesures comprennent :
      </p>
      <ul class="ml-4">
        <li>
          <b> - Chiffrement SSL : </b>Nous utilisons la technologie SSL pour
          chiffrer les informations sensibles lors de leur transmission.
        </li>
        <li>
          <b> - Contrôle d'Accès : </b>Seul le personnel autorisé a accès à vos
          informations personnelles.
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Vos Droits</h2>
      <p>Vous avez le droit de :</p>
      <ul class="ml-4">
        <li>
          <b> - Accéder à Vos Informations : </b>Vous pouvez demander une copie
          des informations personnelles que nous détenons à votre sujet.
        </li>
        <li>
          <b> - Rectifier Vos Informations : </b>Si vous constatez que vos
          informations sont incorrectes ou incomplètes, vous pouvez demander
          leur correction.
        </li>
        <li>
          <b> - Supprimer Vos Informations : </b>Vous pouvez demander la
          suppression de vos informations personnelles, sous réserve de
          certaines conditions légales.
        </li>
        <li>
          <b> - Opposer au Traitement : </b>Vous pouvez vous opposer à certains
          types de traitement de vos informations personnelles.
        </li>
        <p>
          Pour exercer ces droits, veuillez nous contacter à
          support@disstropace.com.
        </p>
      </ul>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Utilisation des Cookies</h2>
      <p>
        Nous utilisons des cookies pour améliorer votre expérience sur notre
        site. Les cookies sont de petits fichiers texte placés sur votre
        appareil pour collecter des informations de journal Internet standard et
        des informations sur le comportement des visiteurs. Vous pouvez
        configurer votre navigateur pour refuser les cookies ou pour vous
        avertir lorsqu'un cookie est envoyé.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">
        Modifications de la Politique de Confidentialité
      </h2>
      <p>
        Nous pouvons mettre à jour cette politique de confidentialité de temps
        en temps. Nous vous informerons de tout changement en publiant la
        nouvelle politique sur cette page. Nous vous encourageons à consulter
        régulièrement cette page pour prendre connaissance de toute
        modification.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Transferts Internationaux</h2>
      <p>
        Vos informations personnelles peuvent être transférées et conservées sur
        des ordinateurs situés en dehors de votre pays de résidence, où les lois
        sur la protection des données peuvent différer. En utilisant notre site
        web et en fournissant vos informations, vous consentez à ces transferts.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Mineurs</h2>
      <p>
        Notre site web n'est pas destiné aux enfants de moins de 13 ans. Nous ne
        collectons pas sciemment d'informations personnelles auprès de mineurs.
        Si vous êtes parent ou tuteur et que vous pensez que votre enfant nous a
        fourni des informations personnelles, veuillez nous contacter afin que
        nous puissions supprimer ces informations.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Liens Externes</h2>
      <p>
        Notre site web peut contenir des liens vers des sites tiers. Nous
        n'avons aucun contrôle sur le contenu ou les pratiques de
        confidentialité de ces sites et nous déclinons toute responsabilité pour
        leur contenu ou leurs pratiques. Nous vous encourageons à lire les
        politiques de confidentialité de ces sites tiers.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Consentement</h2>
      <p>
        En utilisant notre site web, vous consentez à notre politique de
        confidentialité et à nos pratiques de collecte, d'utilisation et de
        divulgation d'informations personnelles comme décrit dans cette
        politique.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Contactez-nous</h2>
      <p>
        Si vous avez des questions concernant cette politique de confidentialité
        ou si vous souhaitez exercer vos droits, veuillez nous contacter :
      </p>
      <ul class="ml-4">
        <li><b>Email : </b>support@distroplace.com</li>
        <li><b>Téléphone : </b>+228 90 92 11 14</li>
        <li>
          <b>Adresse : </b>Distroplace, 123 Rue du Commerce, 75001 lomé, Togo
        </li>
      </ul>
    </article>
  </div>
</section>
{% endblock %}
