{% extends 'main.html' %} {% load static %} {% block content %}
<section class="p-4 lg:p-8 w-full max-w-5xl mx-auto grid shadow-lg">
  <h3 class="font-bold text-3xl text-teal-900 mb-2">Politiques de Livraison</h3>
  <p>
Chez Distroplace, votre satisfaction est notre priorité. Si vous n'êtes pas entièrement satisfait de votre achat, nous sommes là pour vous aider. Veuillez lire attentivement notre politique de retour ci-dessous.
  </p>
  <div class="text-sm">
    <article>
      <h2 class="mt-4 font-bold text-lg">Délai de Retour</h2>
      <ul class="ml-4">
        <li>
          <b> - Délai de Retour : </b>Vous avez 7 jours à compter de la date de
          réception de votre commande pour retourner un produit.
        </li>
        <li>
          <b> - État du Produit : </b>Pour être éligible à un retour, le produit
          doit être dans son état d'origine, non utilisé, et dans son emballage
          d'origine. Tout produit qui est retourné endommagé ou qui présente des
          signes d'utilisation ne sera pas éligible à un remboursement.
        </li>
        <li>
          <b> - Preuve d'Achat : </b>Une preuve d'achat (facture ou reçu) est
          nécessaire pour traiter le retour.
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Procédure de Retour</h2>
      <ul class="ml-4">
        <li>
          <b> 1 - Contactez-nous : </b>Envoyez un email à
          <em>support@distroplace.com</em> avec votre numéro de commande, le
          produit que vous souhaitez retourner et la raison du retour. Nous vous
          fournirons une autorisation de retour ainsi que les instructions de
          retour.
        </li>
        <li>
          <b> 2 - Emballez le Produit : </b>Emballez soigneusement le produit
          dans son emballage d'origine avec tous les accessoires et documents
          inclus.
        </li>
        <li>
          <b> 3 - Expédition : </b>3.Envoyez le produit à l'adresse suivante :
          Distroplace Service des Retours 123 Rue du Commerce 75001 Lomé, Togo
          Veuillez noter que les frais de retour sont à la charge du client,
          sauf si le produit est défectueux ou si l'erreur provient de notre
          part.
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Remboursements</h2>

      <ul class="ml-4">
        <li>
          <b> - Traitement des Remboursements : </b>Une fois que nous aurons
          reçu et inspecté le produit retourné, nous vous informerons de l'état
          de votre remboursement. Si le retour est approuvé, le remboursement
          sera effectué sur votre méthode de paiement initiale dans un délai de
          3 à 5 jours ouvrables.
        </li>
        <li>
          <b> - Articles Non Remboursables : </b> Certains articles tels que
          les cartes cadeaux et les articles en promotion ne sont pas éligibles
          à un remboursement.
        </li>
      </ul>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Échanges</h2>
      <p>
        Si vous souhaitez échanger un produit, veuillez suivre la même procédure
        que pour un retour. Indiquez dans votre email que vous souhaitez
        effectuer un échange et précisez le produit que vous souhaitez recevoir
        en échange. Les échanges sont sujets à la disponibilité des produits.
      </p>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Produits Défectueux ou Endommagés</h2>
      <p>
        Si vous avez reçu un produit défectueux ou endommagé, veuillez nous
        contacter immédiatement à <em>support@distroplace.com</em> avec des
        photos du produit et une description du problème. Nous organiserons un
        remplacement ou un remboursement sans frais supplémentaires.
      </p>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Contactez-nous</h2>
      <p>
        Si vous avez des questions concernant cette politique de confidentialité
        ou si vous souhaitez exercer vos droits, veuillez nous contacter :
      </p>
      <ul class="ml-4">
        <li><b>Email : </b>support@distroplace.com</li>
        <li><b>Téléphone : </b>+228 90 92 11 14</li>
        <li>
          <b>Adresse : </b>Distroplace, 123 Rue du Commerce, 75001 lomé, Togo
        </li>
      </ul>
    </article>
  </div>
</section>
{% endblock %}
