{% extends 'main.html' %} {% load static %} {% block content %}
<section class="p-4 lg:p-8 w-full max-w-5xl mx-auto grid shadow-lg">
  <h3 class="font-bold text-3xl text-teal-900 mb-2">Termes & Conditions</h3>
  <p>
    En accédant à ce site web et en utilisant nos services, vous acceptez les
    termes et conditions énoncés ci-dessous. Veuillez les lire attentivement
    avant de continuer.
  </p>
  <div class="text-sm">
    <article>
      <h2 class="mt-4 font-bold text-lg">Utilisation du Site</h2>
      <p>
        En utilisant ce site web, vous acceptez de ne pas utiliser notre contenu
        ou nos services à des fins illégales, diffamatoires, offensantes, ou
        portant atteinte aux droits de tiers.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Compte Utilisateur</h2>
      <p>
        Lorsque vous créez un compte sur notre site, vous êtes responsable de la
        confidentialité de votre compte et de votre mot de passe. Vous acceptez
        de nous informer immédiatement de toute utilisation non autorisée de
        votre compte.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Propriété Intellectuelle</h2>
      <p>
        Tous les contenus présents sur ce site, y compris mais sans s'y limiter,
        les textes, images, logos, et designs, sont la propriété de Distroplace
        ou de ses fournisseurs de contenu et sont protégés par les lois sur la
        propriété intellectuelle.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Commandes et Paiements</h2>
      <p>
        En passant une commande sur notre site, vous garantissez que vous êtes
        autorisé à utiliser la méthode de paiement choisie. Toutes les commandes
        sont soumises à notre acceptation et peuvent être annulées ou refusées à
        notre seule discrétion.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Politique de Retour</h2>
      <p>
        Veuillez-vous référer à notre Politiques de Retour pour connaître les
        conditions de retour et de remboursement.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Politique de Livraison</h2>
      <p>
        Veuillez-vous référer à notre Politiques de Livraison pour connaître les
        options de livraison, les frais, et les délais de livraison.
      </p>
    </article>
    <article>
      <h2 class="mt-4 font-bold text-lg">Limitation de Responsabilité</h2>
      <p>
        Nous nous efforçons de fournir des informations exactes et à jour, mais
        nous ne garantissons pas l'exactitude, l'exhaustivité ou la pertinence
        de ces informations. En utilisant notre site, vous acceptez que nous ne
        soyons pas responsables des erreurs, omissions, ou dommages résultant de
        l'utilisation de ces informations.
      </p>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Modifications des Termes</h2>
      <p>
        Nous nous réservons le droit de modifier ces termes et conditions à tout
        moment. Les modifications prendront effet dès leur publication sur cette
        page. Nous vous encourageons à consulter régulièrement cette page pour
        prendre connaissance des modifications.
      </p>
    </article>

    <article>
      <h2 class="mt-4 font-bold text-lg">Contactez-nous</h2>
      <p>
        Si vous avez des questions concernant cette politique de confidentialité
        ou si vous souhaitez exercer vos droits, veuillez nous contacter :
      </p>
      <ul class="ml-4">
        <li><b>Email : </b>support@distroplace.com</li>
        <li><b>Téléphone : </b>+228 90 92 11 14</li>
        <li>
          <b>Adresse : </b>Distroplace, 123 Rue du Commerce, 75001 lomé, Togo
        </li>
      </ul>
    </article>
  </div>

</section>
{% endblock %}
