{% if not clients %}
<div class="flex flex-col items-center gap-2 my-20 mx-auto">
  <i class="fa-solid fa-users text-teal-900 text-9xl"></i>
  <span>Aucun produit trouvé</span>
</div>
{% else %}
<table class="w-full text-left db-table">
  <thead class="bg-teal-900 border border-teal-900 bg-teal-900 text-white">
    <tr>
      <th class="px-3 py-4 text-sm">Ref.</th>
      <th class="px-3 py-4 text-sm">Nom et prenoms</th>
      <th class="px-3 py-4 text-sm">Nom d'utilisateur</th>
      <th class="px-3 py-4 text-sm">Email</th>
      <th class="px-3 py-4 text-sm">Telephone</th>
      <th class="px-3 py-4 text-sm">Role</th>
      <th class="px-3 py-4 text-sm">Commandes</th>
      <th class="px-3 py-4 text-sm">Livraisons</th>
      <th class="px-3 py-4 text-sm">Action</th>
    </tr>
  </thead>

  <tbody class="border">
    {% for obj in clients %}
    <tr
      class="text-gray-600 border text-sm hover:bg-white hover:text-black transition-all duration-300"
    >
      <td class="px-3 py-1">Cmd N°-{{obj.id}}</td>
      <td class="px-3 py-1">{{obj.get_full_name}}</td>
      <td class="px-3 py-1">@{{obj.username}}</td>
      <td class="px-3 py-1">{{obj.email}}</td>
      <td class="px-3 py-1">{{obj.phone}}</td>
      <td class="px-3 py-1">{{obj.role}}</td>
      <td class="px-3 py-1">{{obj.get_orders}}</td>
      <td class="px-3 py-1">{{obj.get_delivries}}</td>
      <td class="px-3 py-1">
        <div class="w-fit mx-auto text-end relative text-gray-700">
          <button
            type="button"
            class="hover:text-black bg-white hover:text-teal-700 px-3 py-1 rounded-full"
            name="sentry"
            id="sentry"
            aria-expanded="false"
            aria-haspopup="true"
            onclick="toggleMenu(this,'clt_{{obj.id}}')"
          >
            <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
          </button>

          <div
            class="hidden bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-12 origin-top-left bg-white z-10 rounded-xl flex flex-col items-center gap-2 text-xs lg:text-sm overflow-hidden"
            role="status menu"
            aria-orientation="vertical"
            aria-labelledby="status-menu-button"
            tabindex="-1"
            id="clt_{{obj.id}}"
          >
            <a
              hx-get="{% url 'user_profile' obj.id %}"
              hx-target="#dashbase"
              hx-swap="outerHTML"
              class="px-4 py-2 flex items-center hover:text-black hover:bg-gray-200 rounded-full w-full text-center cursor-pointer"
              ><i class="text-sm fa-solid fa-eye mr-2"></i>
              Détails
            </a>
            <!--  -->
            {% if user.is_superuser %}
            <a
              class="px-4 py-2 flex items-center hover:text-white hover:bg-red-700 rounded-full w-full text-center cursor-pointer"
            >
              <i class="text-sm fa-solid fa-trash mr-2"></i>
              Supprimer
            </a>
            {% endif %}
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
