<div id="delivery_slip" class="w-full">
  <div class="flex flex-col gap-3 w-full max-w-60 xl:max-w-80">
    {% include 'store/components/delivery_status_card.html' %}
    <!--  -->
    <div class="p-2 border bg-gray-50 rounded-md">
      {% for obj in order_items %}
      <div class="flex justify-between text-xs">
        <span>{{obj.product.name}}</span>
        <span>{{obj.product.brand}}</span>
        <span>{{obj.price}} CFA</span>
        <span>x{{obj.quantity}}</span>
        <span class="font">{{obj.get_total}} CFA</span>
      </div>
      {% endfor %}
    </div>
    <div
      class="border-2 border-teal-500 text-black text-sm p-4 rounded-xl flex flex-col gap-2"
    >
      <p>
        <i class="text-teal-700 fa-solid fa-phone mr-2"></i>Téléphone :
        <!--  -->
        {{shipping_info.phone}}
      </p>
      <p>
        <i class="text-teal-700 fa-solid fa-location-dot mr-2"></i>Adresse :
        <!--  -->
        {{shipping_info.address}}
      </p>
      <p>
        <i class="text-teal-700 fa-solid fa-map-location-dot mr-2"></i>Quartier
        : {{ shipping_info.district}}
      </p>
      <p>
        <i class="text-teal-700 fa-solid fa-dolly mr-2"></i>Livraison :
        <!--  -->
        {{curr_obj.delivery_type}}
      </p>
      <p>
        <i class="text-teal-700 fa-solid fa-hand-holding-dollar mr-2"></i>Frais
        : {{ curr_obj.delivery_type.price}}
      </p>
      <p>
        <i class="text-teal-700 fa-solid fa-calendar-days mr-2"></i>Jour livré :
        {{ curr_obj.timestamp.date}}
      </p>
      <p>
        <i class="text-teal-700 fa-solid fa-clock mr-2"></i>Heure livré :
        <!--  -->
        {{curr_obj.timestamp.time}}
      </p>
      {% if curr_obj.status == 'pending' %}
      <a
        hx-post="{% url 'manage_delivery' curr_obj.id 'dispatch' %}"
        class="py-1 px-4 bg-yellow-200 hover:bg-yellow-300 rounded-full text-black flex justify-between items-center group cursor-pointer"
        >Expédier
        <span
          class="inline-block px-2 py-1 group-hover:bg-teal-900 group-hover:text-white rounded-full transition-all duration-300"
          >&rarr;</span
        >
      </a>
      {% elif curr_obj.status == 'dispatched' %}
      <a
        hx-post="{% url 'manage_delivery' curr_obj.id 'finish' %}"
        class="py-1 px-4 bg-green-200 hover:bg-green-300 rounded-full text-black flex justify-between items-center group cursor-pointer"
        >Terminer
        <span
          class="inline-block px-2 py-1 group-hover:bg-teal-900 group-hover:text-white rounded-full transition-all duration-300"
          >&rarr;</span
        >
      </a>
      {% endif %}
    </div>
  </div>
</div>

<!-- Change 'A4' to any size you want -->
<button
  onclick="printDiv('delivery_slip')"
  class="mt-4 w-fit px-3 py-2 bg-yellow-200 hover:bg-yellow-300 rounded-lg text-black transition duration-200 ease-in"
>
  <i class="inline fa-solid fa-print lg:mr-2"></i>
  <span class="hidden md:inline text-sm"> Imprimer </span>
</button>

<style>
  @media print {
    body * {
      visibility: hidden;
    }
    #toPrint,
    #toPrint * {
      visibility: visible;
    }
    #toPrint {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    /* Customize the printed layout */
    #toPrint .w-full {
      width: 74mm; /* A7 width */
      height: 105mm; /* A7 height */
      margin: auto; /* Center horizontally */
    }
    #toPrint img {
      max-width: 100%; /* Ensure image fits within container */
    }
  }
</style>

<script>
  function printDiv(divId) {
    var printContent = document.getElementById(divId).innerHTML;
    var originalContent = document.body.innerHTML;
    document.body.innerHTML = printContent;
    window.print();
    document.body.innerHTML = originalContent;
    window.reload();
  }
</script>
