{% extends 'main.html' %} {% load static %} {% block content %}

<section class="p-4 lg:p-8 w-full max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-center gap-8 shadow-lg">

  <i class="fa-solid fa-user-plus text-teal-900 text-9xl mx-auto "></i>

  <div
    class="bg-gray-100 rounded-xl p-6 flex-col h-fit w-full max-w-md"
  >
    <h1 class="text-black text-3xl font-bold">Inscrivez vous</h1>
    <form
      class="w-full text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %} {% for field in form %}
      <div>
        <h3 class="mb-1">{{field.label}}</h3>
        {{field}}
      </div>
      {% endfor %}

      <input
        class="mt-2 px-4 py-2 bg-teal-700 hover:bg-teal-900 text-white rounded-full cursor-pointer"
        type="submit"
        value="Inscription"
      />
    </form>

    <p class="login-wrapper-footer-text mt-2">
      Vous avez un compte?
      <a href="{% url 'login' %}" class="text-yellow-400">Cliquez ici</a>
    </p>
  </div>
</section>
{% endblock %}
