{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-4 lg:px-8 max-w-7xl mx-auto flex flex-col justify-between gap-6">
  <div class="flex justify-between">
    <div
      class="bg-teal-900 py-2 px-4 rounded-full flex items-center text-white gap-4"
    >
      <a
        id="back-button"
        class="px-2 py-1 font-bold hover:bg-yellow-200 hover:text-black rounded-full transition-all duration-300"
        href="#"
        >&larr;</a
      >
      Retourner
    </div>
  </div>
  <!-- user info -->
  <div
    hx-get="{% url 'user_info' curr_obj.id %}"
    hx-trigger="load, db_changed from:body"
    hx-target="this"
  >
    <p class="h-full w-full flex justify-center items-center text-teal-500 p-4">
      <i class="m-auto fas fa-spinner fa-spin text-3xl animate-spin"></i>
    </p>
  </div>

  <section class="mb-4 flex flex-col gap-4">
    <!--------------------------------------- menu tabs buttons --------------------------------------->
    <div
      class="flex justify-between gap-2 text-xs tabbar h-fit w-full lg:max-w-[600px] p-2 bg-teal-900 rounded-full"
    >
      <button
        class="tabBtn px-4 py-2 bg-white hover:bg-teal-900 hover:text-white rounded-full w-full"
        onclick="openTab(event, 'favs')"
        id="defaultTab"
      >
        <i class="fa-solid fa-heart"></i>
        <span class="ml-2">Favoris</span>
      </button>
      <button
        class="tabBtn px-4 py-2 bg-white hover:bg-teal-900 hover:text-white rounded-full w-full"
        onclick="openTab(event, 'cart')"
      >
        <i class="fa-solid fa-shopping-cart"></i>
        <span class="ml-2">Panier</span>
      </button>
      <button
        class="tabBtn px-4 py-2 bg-white hover:bg-teal-900 hover:text-white rounded-full w-full"
        onclick="openTab(event, 'orders')"
      >
        <i class="fa-solid fa-dolly"></i>
        <span class="ml-2">Commandes</span>
      </button>
      <button
        class="tabBtn px-4 py-2 bg-white hover:bg-teal-900 hover:text-white rounded-full w-full"
        onclick="openTab(event, 'deliveries')"
      >
        <i class="fa-solid fa-truck"></i>
        <span class="ml-2">Livraisons</span>
      </button>
    </div>

    <div id="favs" class="tabcontent w-full flex flex-col gap-2">
      <div
        hx-get="{% url 'user_favorites' %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      >
        <p
          class="h-full w-full flex justify-center items-center text-teal-500 p-4"
        >
          <i class="m-auto fas fa-spinner fa-spin text-3xl animate-spin"></i>
        </p>
      </div>
    </div>

    <div id="cart" class="tabcontent w-full flex flex-col gap-2">
      <div
        hx-get="{% url 'cart_resume' %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      >
        <p
          class="h-full w-full flex justify-center items-center text-teal-500 p-4"
        >
          <i class="m-auto fas fa-spinner fa-spin text-3xl animate-spin"></i>
        </p>
      </div>
    </div>

    <div id="orders" class="tabcontent w-full flex flex-col gap-2">
      <div
        hx-get="{% url 'orders_resume' %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      >
        <p
          class="h-full w-full flex justify-center items-center text-teal-500 p-4"
        >
          <i class="m-auto fas fa-spinner fa-spin text-3xl animate-spin"></i>
        </p>
      </div>
    </div>

    <div id="deliveries" class="tabcontent w-full flex flex-col gap-2">
      <div
        hx-get="{% url 'deliveries_resume' %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      >
        <p
          class="h-full w-full flex justify-center items-center text-teal-500 p-4"
        >
          <i class="m-auto fas fa-spinner fa-spin text-3xl animate-spin"></i>
        </p>
      </div>
    </div>
  </section>
</div>

<script>
  document
    .getElementById("back-button")
    .addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the default anchor behavior
      window.history.go(-1); // Go back two pages
    });

  //  tabs control ----------------------------------------------------------------------------------------------------
  document.getElementById("defaultTab").click();
  function openTab(event, tabName) {
    var i, tabcontent, tabBtn;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tabBtn = document.getElementsByClassName("tabBtn");
    for (i = 0; i < tabBtn.length; i++) {
      tabBtn[i].className = tabBtn[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    event.currentTarget.className += " active";
  }
</script>
{% endblock %}
