{% extends 'main_alt.html' %} {% load static %} {% block content %}
<div class="w-full max-w-7xl mx-auto flex flex-col gap-4">
  <div class="flex flex-col md:flex-row justify-between items-center">
    <h3 class="bg-teal-900 rounded-full text-white py-2 px-4">
      <a
        id="back-button"
        class="inline-block px-2 py-1 text-white bg-teal-900 hover:bg-yellow-300 hover:text-black rounded-full transition-all duration-300"
        href="#"
        >&larr;</a
      >
      Parametres
      <i class="fa-solid fa-gears ml-2"></i>
    </h3>

        <!--------------------------------------- menu tabs buttons --------------------------------------->
    <div
      class="flex justify-between gap-2 text-xs tabbar h-fit w-full lg:max-w-[500px] p-2 bg-teal-900 rounded-full"
    >
      <button
        class="tabBtn px-4 py-2 bg-white hover:bg-teal-900 hover:text-white rounded-full w-full"
        onclick="openTab(event, 'cats')"
        id="defaultTab"
      >
        <i class="fa-solid fa-shapes"></i>
        <span class="ml-2">Catégories</span>
      </button>
      <button
        class="tabBtn px-4 py-2 bg-white hover:bg-teal-900 hover:text-white rounded-full w-full"
        onclick="openTab(event, 'subcats')"
      >
        <i class="fa-solid fa-layer-group"></i>
        <span class="ml-2">Sous Catégories</span>
      </button>
      <button
        class="tabBtn px-4 py-2 bg-white hover:bg-teal-900 hover:text-white rounded-full w-full"
        onclick="openTab(event, 'deliveries')"
      >
        <i class="fa-solid fa-truck-fast"></i>
        <span class="ml-2">Livraisons</span>
      </button>
    </div>
  </div>

  <section class="flex flex-col gap-4">


    <div id="cats" class="tabcontent w-full flex flex-col gap-2">
      <div
        class="w-full flex justify-between items-center mb-4"
      >
        <button
          onclick="hide_dialogs()"
          hx-target="#basic_dialog"
          hx-get="{% url 'create_category' %}"
          class="px-4 py-2 flex items-center text-sm text-black bg-yellow-100 hover:bg-yellow-300 rounded-full w-fit text-center cursor-pointer"
        >
        Nouvelle catégorie
        <i class="text-sm fa-solid fa-plus ml-2"></i>
        </button>
      </div>
      <div
        class="categories_list"
        hx-get="{% url 'categories_list' %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      ></div>
    </div>
    <div id="subcats" class="tabcontent w-full flex flex-col gap-2">
      <div
        class="w-full flex justify-between items-center mb-4"
      >
        <button
          onclick="hide_dialogs()"
          hx-target="#basic_dialog"
          hx-get="{% url 'create_subcategory' %}"
          class="px-4 py-2 flex items-center text-sm text-black bg-yellow-100 hover:bg-yellow-300 rounded-full w-fit text-center cursor-pointer"
        >
        Nouvelle sous-catégorie
        <i class="text-sm fa-solid fa-plus ml-2"></i>
        </button>
      </div>
      <div
        class="subcategories_list"
        hx-get="{% url 'subcategories_list' %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      ></div>
    </div>
    <div id="deliveries" class="tabcontent w-full flex flex-col gap-2">
      <div
        class="w-full flex justify-between items-center mb-4"
      >
        <button
          onclick="hide_dialogs()"
          hx-target="#basic_dialog"
          hx-get="{% url 'create_delivery_type' %}"
          class="px-4 py-2 flex items-center text-sm text-black bg-yellow-100 hover:bg-yellow-300 rounded-full w-fit text-center cursor-pointer"
        >
        Nouveau type de lvraison
        <i class="text-sm fa-solid fa-plus ml-2"></i>
        </button>
      </div>
      <div
        class="delivery_types_list"
        hx-get="{% url 'delivery_types_list' %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      ></div>
    </div>
  </section>
</div>
{% endblock %}
