<div class="w-full p-4 bg-teal-900 grid items-center gap-2">
  <div class="px-8 w-full max-w-7xl flex mx-auto justify-between items-center">
    <div class="flex items-center justify-between items-center text-white gap-3">
      <i class="fa-regular fa-envelope-open text-3xl"></i>
      <div class="flex flex-col gap-1">
        <h3 class="font-bold text-lg">
          Inscrivez vouas a notre Newsletter
        </h3>
        <small>
          ... et recevez votre pemiere livraison gratuite.
        </small>
      </div>
    </div>
    <form class="w-full max-w-[400px] flex bg-white rounded-full p-2 text-sm" method="get">
      <input class="p-1 border-none w-full outline-none" type="text" name="query" placeholder="Votre adresse mail...">
      <button type="submit" class="px-4 py-1 bg-teal-900 hover:bg-yellow-400 hover:text-black rounded-full text-white">Souscrire!</button>
    </form>
  </div>
  <small class="my-2 text-gray-300 text-4xs mx-auto">
  &copy; Copyright <span id="date"></span> Distroplace Tous Droits Reservés
  </small>
</div>

