<div
  id="snackbar"
  class="fixed top-[-100px] right-4 p-4 rounded w-80 flex items-center justify-between transition-transform duration-500"
>
  <span id="snackbar-message"></span>
  <button onclick="hideSnackbar()">x</button>
</div>

<style>
  #snackbar.success {
    background-color: #38a169;
    color: white;
  } /* Green for success */
  #snackbar.denial {
    background-color: #e53e3e;
    color: white;
  } /* Red for denial */
  #snackbar.alert {
    background-color: #d69e2e;
    color: white;
  } /* Yellow for alert */
  #snackbar.info {
    background-color: #3182ce;
    color: white;
  } /* Blue for info */

  #snackbar {
    transform: translateY(-100%);
    z-index: 1000;
  }

  #snackbar.show {
    transform: translateY(0);
  }

  .transition-transform {
    transition: transform 0.5s;
  }
</style>
